<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <NodeStyleSheets>
    <add key="CollectorHeaderNode" value="CollOfficers.xsl" />
    <add key="SetupService" value="CustPricingService.xsl" />
    <add key="SetupServiceEmail" value="Sales@medscreen.com,Dawn.ryan@concateno.com,pauline.ogorman@concateno.com" />
    <add key="Vessel" value="Vessel.xsl" />
    <add key="Vessels" value="VesselSort.xsl" />
    <add key="SMIDVessels" value="VesselSortSMID.xsl" />
    <add key="MedtreeNodeStyle" value="CCToolBlankNode.xsl" />
    <add key="InvoiceStyle" value="invoiceStub.xsl" />
    <add key="CustStyleSheet" value="customer1.xslt" />
    <add key="StylesheetFolder" value="\\corp.concateno.com\medscreen\common\lab programs\transforms\xsl\" />
    <add key="CentreList" value="CentreList.xsl" />
    <add key="CentreList2" value="CentreList2.xsl" />
    <add key="Centre" value="Centre2.xsl" />
    <add key="Continent" value="portCont.xsl" />
    <add key="Country" value="portCount.xsl" />
    <add key="Region" value="portRegionList.xsl" />
    <add key="Port" value="port1.xsl" />
    <add key="Officer" value="collofficer.xsl" />
    <add key="Phrase" value="phrase.xsl" />
    <add key="PhraseList" value="phraselist.xsl" />
    <add key="ContactList" value ="contacts2.xsl" />
    <add key="Contact" value="contact.xsl" />
    <add key="ContactAddressSeparator" value=", " />
    <add key="CustSMIDNode" value="SMIDClients.xsl" />
    <add key="OptionHeader" value="OptionList.xsl" />
    <add key="NearestOfficer" value="Nearest1.xslt" />
    <add key="CMCardiffView" value="CardiffResultsCM.xslt" />
    <add key="SMIDCardiffView" value="CardiffResultsSMID.xslt" />
    <add key="CardiffView" value="CardiffResults.xslt" />
    <add key="RandomNumbersHelp" value="\\corp.concateno.com\medscreen\common\IT\Help\Random Number Management.pdf"/>
    <add key="RNHelpTitle" value="Random Numbers Help"/>
  </NodeStyleSheets>
  <Messages>
    <add key="ServiceEmail" value="The service &lt;b&gt;'{0}'&lt;/b&gt; has been {1} for this customer {2}. Please check that the prices are correct for this service.&lt;BR/&gt;" />
  </Messages>
  <NodePLSQL>
    <add key="GETDOCUMENTXML" value="lib_customer2.GETDOCUMENTXML" />
    <add key="WithMRO" value="lib_sample8.WithMRO" />
    <add key="ServiceList" value="Lib_utils.decodephrase" />
    <add key="GetIsoInfo" value="LIB_CCTOOL.IsoPortInfo" />
    <add key="DiaryOfficerName" value="Lib_collection.GetOfficerName" />
    <add key="GetSMIDProfile" value="Lib_customer.GetSMIDProfile" />
    <add key="CustomerStatusList" value="NSDAO" />
    <add key="CollectionBrowseText" value="lib_collection.GetCollectionBrowseText" />
    <add key="CountSMIDStatus" value="Lib_cctool.CountSMIDStatus" />
    <add key="LookupCountry" value="lib_cctool.lookupcountry" />
    <add key="GetDiscountSchemes" value="PckWareHouse.GetDiscountSchemes" />
    <add key="GetCustomerSchemeDates" value="PckWareHouse.GetCustomerSchemeDates" />
    <add key="ActiveJobCount" value="Lib_customer.ActiveJobCount" />
    <add key="GetOptionInClass" value="LIB_CCTOOL.GetOptionInClass" />
    <add key="GetOfficersByCountry" value="LIB_CCTOOL.GETOFFICERSBYCOUNTRY" />
    <add key="GetOfficersByRegion" value="LIB_CCTOOL.GetOfficersByRegion" />
    <add key="StatusColourList" value="A,O,N,S,D|cornsilk,RosyBrown,Yellow,LightGray,Red" />
    <add key="StatusIconsList" value="1,22,16,34,18" />
    <add key="PhraseHeaderToXML" value="lib_cctool.PhraseHeaderToXML" />
    <add key="PhraseToXML" value="lib_cctool.PhraseToXML" />
    <add key="NearestOfficerToOutcode" value="lib_officer.ClosestOfficersXML" />
    <add key="NearestOfficertoPort" value="lib_officer.ClosestOfficerstoPortXML" />
    <add key="FixedSiteTypes" value="lib_fixedsite.GetFixedSiteTypes" />
    <add key="FixedSiteTypesX" value="NOTOWNED,SMID" />
    <add key="FixedSites" value="lib_fixedsite.GetFixedSitesOfType" />
  </NodePLSQL>
  <CollectionQuery>
    <add key="SampleTemplate" value="select identity,description from Samp_Tmpl_Header s where s.removeflag='F' and action_type in ('.NET','REFER')" />
    <add key="LaboratoryQuery" value="select identity,description from instrument s where s.removeflag='F' and insttype_id = 'LABORATORY'" />
    <add key="JobsOnADay" value="Select c.*,rowid from collection c where status &lt;&gt; 'S' and coll_date &gt;= '{0}' and coll_date &lt;'{1}'" />
    <add key="CollectionsDone" value="Select c.*,rowid from collection c where status = 'D'" />
    <add key="CollectionsReceived" value="Select c.*,rowid from collection c where status = 'R'" />
    <add key="CollectionsOutstanding" value="Select c.*,rowid from collection c where status in ('C','D') and coll_date &lt; sysdate - 5" />
    <add key="CollectionsPay" value="Select c.*,rowid from collection c where status in ('S') and coll_date > sysdate - {0}" />
    <add key="CollectionsByCustomer" value="Select c.*,rowid from collection c where Customer_id = '{0}' and coll_date &gt; sysdate - {1}" />
    <add key="CollectionsBySMID" value="Select c.*,rowid from collection c where Customer_id in ({0}) and coll_date &gt; sysdate - {1}" />
    <add key="CurrencyList" value="Select currencyID,description from Currency order by CurrencyID" />
    <add key="ReasonForTestRoutine" value="lib_cctool.ReasonForTestListRoutine" />
    <add key="ReasonForTestCallOut" value="lib_cctool.ReasonForTestListCallOut" />
    <add key="OfficerPortsByPort" value="Select o.IDENTITY From Coll_officer o, Coll_ports p where o.identity = p.coll_id  and p.port_id = '{0}' and o.removeflag = 'F' and p.removeflag = 'F' order by cont_costs, o.identity" />
    <add key="OfficerByRegion" value="Select distinct o.IDENTITY From Coll_officer o, Coll_ports pc, port p  where o.identity = pc.coll_id and p.identity = pc.port_id and p.region = '{0}' and o.removeflag = 'F' and p.removeflag = 'F' order by o.identity" />
    <add key="PortByOfficer" value="Select distinct PORT_ID,Lib_collection.getport(port_id) as portid,COSTS_AGREED,CONT_COSTS from coll_ports where COLL_ID = '{0}' and removeflag = 'F' order by port_id" />
    <add key="SelectPortByType" value="Select identity from port where type = '{0}' and removeflag = 'F'" />
    <add key="OfficerInfo" value="Select IDENTITY,SURNAME,FIRST_NAME,HOME_PHONE,WORK_PHONE,MOBILE_PHONE,BLEEP_NUM,COUNTRY,area_coord From Coll_officer {0} and removeflag = 'F' order by identity" />
    <add key="CustomerChange" value="The customer has been changed but details such as Agents, Procedure files, Collection Documents and notification contacts will need to be fixed." />
    <add key="InvoiceNotification" value="The {0} for {1}, invoiced under {2} for customer {3} has been changed.  Please review the invoice and amend / re-invoice as necessary." />
    <add key="InvoiceNotification2" value="The following barcodes ({0}) have been moved from {1} (invoice {2}), under {3}. To {4} (invoice {5}), any invoices mentioned will need to be checked and possibly corrected." />
    <add key="InvoiceNotificationTo" value="MED_ACCOUNTS" />
  </CollectionQuery>
  <NodeQuery>
    <add key="FixedSiteNodes" value="Select distinct identity from port where IS_FIXED_SITE = 'T'  and removeflag = 'F' and rtrim(PortOwner) is null" />
    <add key="CustSiteNodes" value="Select distinct identity from port where IS_FIXED_SITE = 'T'  and removeflag = 'F' and PortOwner = ?" />
    <!-- Replacement parameter is vessel name  -->
    <add key="VesselName" value="Select name from vessel where vessel_id = '{0}'" />
    <!-- Find the first letter of all smids used-->
    <add key="LettersUsed" value="Select distinct substr(smid,1,1) from customer" />
    <!-- Parameters are table and jobName-->
    <add key="SamplesByJob" value="Select bar_code,'{0}' from {0} where job_name = '{1}'" />
    <add key="AnalysisOnlySamples" value="Select bar_code,'sample' from sample where job_name &lt;= '!' and customer_id = '{0}' AND login_date &gt; '{1}' union Select bar_code,'c_sample2008' from c_sample2008 where job_name &lt;= '!' and customer_id = '{0}' AND login_date &gt; '{1}' union Select bar_code,'c_sample2009' from c_sample2009 where job_name &lt;= '!' and customer_id = '{0}' AND login_date &gt; '{1}'" />
    <add key="CONTACTTYPE" value="SECRESULT" />
  </NodeQuery>
  <LineItems>
    <add key="RTN0001" value="On Call Service Retainer Fee" />
    <add key="RTN0002" value="Up front payment for Analysis Only work" />
  </LineItems>
  <SampleLineItems>
    <add key="PAYSAMPLE001" value="DOA Sample" />
    <add key="PAYSAMPLE002" value="Benzene Sample" />
    <add key="PAYSAMPLE003" value="DOA + Benzene Sample" />
  </SampleLineItems>
  <Diary>
    <add key="FillCounter" value="!*HTML*!!*HEAD*! !*LINK REL='STYLESHEET' TYPE='text/css' HREF='\\corp.concateno.com\medscreen\common\Lab Programs\Transforms\XSL\MedScreen.css' Title='Style' /*! !*/HEAD*!!*DIV class='beige'*!Loading Data ... {0} of {1} loaded..., estimated time left {2} seconds, estimated total time {3} seconds. !*I*!please wait!*/I*!!*/DIV*!!*/HTML*!" />
    <add key="First" value="!*HTML*! !*HEAD*! !*LINK REL='STYLESHEET' TYPE='text/css' HREF='\\corp.concateno.com\medscreen\common\Lab Programs\Transforms\XSL\MedScreen.css' Title='Style' /*! !*/HEAD*!!*DIV class='beige'*!First Collection will be displayed shortly...!*/DIV*!!*/HTML*!" />
    <add key="NoCollections" value="!*HTML*!!*HEAD*! !*LINK REL='STYLESHEET' TYPE='text/css' HREF='\\corp.concateno.com\medscreen\common\Lab Programs\Transforms\XSL\MedScreen.css' Title='Style' /*! !*/HEAD*!!*DIV class='beige'*!No Collections match your list!*/DIV*!!*/HTML*!" />
  </Diary>
  <Templates>
    <add key="CollOffInfo" value="CollOffInfoR4" />
    <add key="Random" value="\\corp.concateno.com\medscreen\common\lab programs\dbreports\templates\RandomNumbers.Dot" />
  </Templates>
  <Misc>
    <add key="DefPasswordMask" value="^[a-zA-Z0-9@# _-]*$"/>
    <add key="OptionEditableForeColour" value="White"/>
    <add key="OptionEditableBackColour" value="Red"/>
  </Misc>

</configuration>
